.contact-info__container {
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 5px 5px;
  background-image: repeating-linear-gradient(
    -45deg,
    #dadada 0,
    #d7d7d7 1px,
    #efefef 0,
    #f2f2f2 50%
  );
}

.contact-info__content {
  background-color: var(--off-white);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  margin: 5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}
