/* Current team section */
.current-team__section {
  grid-column: full-start / full-end;
  opacity: 0.9;
  background-size: 5px 5px;
  background-image: repeating-linear-gradient(
    45deg,
    #dadada 0,
    #d7d7d7 1px,
    #efefef 0,
    #f2f2f2 50%
  );
  display: grid;
  grid-template-columns:
    [full-start] 15vw [content-start]
    1fr [content-end] 15vw [full-end];
}

.current-team__content {
  display: grid;
  height: min-content;
  grid-column: full-start / full-end;
  margin: 3rem 1rem;
}

/* Container for team details boxes */
#team-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

/* Individual team details box styling */
.team-details {
  background-color: var(--off-white);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.team-descriptions {
  padding: 0.3rem;
}

/* Last race section */
.last-race__section {
  grid-column: full-start / full-end;
  background-color: black;
  display: grid;
  grid-template-columns:
    [full-start] 15vw [content-start]
    1fr [content-end] 15vw [full-end];
  background-repeat: no-repeat;
}

.last-race__container {
  margin: 3rem 0;
  grid-column: full-start / full-end;
  z-index: 0;
  position: relative;
}

.last-race__content {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
}

.last-race__description__container {
  display: flex;
  flex-direction: column;
}

/* Car and track section */
.car-track__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.car-track {
  position: relative;
  width: 100%;
}

.zoom-in {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.zoom-in:hover {
  transform: translateY(-3px) scale(1.1);
}

/* Table section */
.table__section {
  grid-column: full-start / full-end;
  background-color: #e5e5f7;
  opacity: 0.9;
  background-size: 5px 5px;
  background-image: repeating-linear-gradient(
    -45deg,
    #dadada 0,
    #d7d7d7 1px,
    #efefef 0,
    #f2f2f2 50%
  );
  display: grid;
  grid-template-columns:
    [full-start] 15vw [content-start]
    1fr [content-end] 15vw [full-end];
}

/* content of table container */
.table__content {
  margin: 3rem 0;
  display: grid;
  height: min-content;
  grid-column: full-start / full-end;
}

/* putting tables side by side */
.table__layout {
  display: flex;
  flex-direction: column;
  margin: 3rem 0.5rem 0;
  row-gap: 5rem;
  justify-self: center;
}

table {
  border: 1px solid #ccc;
  background-color: var(--off-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  width: 95%;
}

/* Next year section */
.next-year__section {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] 15vw [content-start]
    1fr [content-end] 15vw [full-end];
  background-color: black;
}

.next-year__container {
  margin: 3rem 0;
  grid-column: full-start / full-end;
}

.next-year__content {
  margin: 3rem;
}
