.current-team__section {
  grid-column: full-start / full-end;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #cac9e5 0,
    #cccce6 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
  display: grid;
  grid-template-columns:
    [full-start] 12vw [content-start]
    1fr [content-end] 12vw [full-end];
}

.current-team__heading {
  text-align: center;
}

/* Container for team details boxes */
#team-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3rem;
  margin: 3rem;
}

/* Individual team details box styling */
.team-details {
  background-color: #f0f0f0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

.team-descriptions {
  padding: 0.3rem;
}
