* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: "Open Sans", sans-serif;
  --dark-grey: #02010f;
  --light-grey: #49484b;
  --ultramarine-blue: #06054f;
  --off-white: #fcfcfc;
  --footer-blue: #4850e2;
  --scarlet: #bd0000;
  --yellow: #eadb0e;
  --hover-width: 70%;
  --other-width: 30%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  font-family: var(--body-font);
  background-color: var(--off-white);
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] 15vw [content-start] minmax(4rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 20rem) [col-end]
    )
    [center-end] minmax(4rem, 1fr) [content-end] 15vw [full-end];
}

.display-none {
  display: none;
}

.animate {
  opacity: 0;
  filter: blur(5px);
  transition: 0.2s;
}

.show-animate .animate {
  opacity: 1;
  filter: blur(0px);
}

.mg-tp {
  margin-top: 2.5rem;
}
