.navbar {
  background-color: var(--off-white);
  height: 10rem;
}

/* Mobile Background Styles */
.navigation__button {
  position: absolute;
  background-color: var(--off-white);
  height: 5rem;
  width: 5rem;
  z-index: 2000;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  background-color: var(--ultramarine-blue);
  position: absolute;
  z-index: 1000;
}

.navigation__checkbox {
  position: absolute;
}

.nav-list {
  display: flex;
  /* horizontally */
  justify-content: end;
  /* vertically */
  align-items: center;
  height: 10rem;
  list-style: none;
  margin-right: 3rem;
  position: relative;
}

.nav-link {
  color: var(--ultramarine-blue);
  text-decoration: none;
  font-size: 2rem;
  line-height: 1.6;
  display: block;
  position: relative;
}

.nav-link:active {
  color: var(--ultramarine-blue);
}

.nav-link:hover {
  color: var(--light-grey);
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ultramarine-blue);
  transform: scaleX(0);
  transition: all 0.5s;
  /* scale from left rather than default of left */
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ultramarine-blue);
  transform: scaleX(0);
  transition: all 0.5s;
  /* scale from right rather than default of center */
  transform-origin: right;
}
