.navbar {
  background-color: var(--off-white);
  height: 10rem;
  display: flex;
  /* horizontally */
  justify-content: end;
  /* vertically */
  align-items: center;
  position: relative;
}

/* Mobile Background Styles */
.navigation__button {
  position: absolute;
  background-color: var(--ultramarine-blue);
  height: 6rem;
  width: 6rem;
  z-index: 2000;
  margin-right: 3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.navigation__background {
  height: 5rem;
  width: 5rem;
  background-color: var(--ultramarine-blue);
  position: absolute;
  z-index: 1000;
  margin-right: 3rem;
  transition: transform 0.8s;
}

.navigation__checkbox {
  position: absolute;
  margin-right: 3rem;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50);
}

.navigation__checkbox:checked ~ .nav-list {
  opacity: 1;
  width: 100%;
  margin-right: 0;
}

.navigation__checkbox:checked ~ .navigation__button {
  background-color: var(--off-white);
}

.navigation__checkbox:checked ~ .navigation__button .navigation-icon,
.navigation__checkbox:checked ~ .navigation__button .navigation-icon::before,
.navigation__checkbox:checked ~ .navigation__button .navigation-icon::after {
  background-color: var(--ultramarine-blue);
}

.navigation-icon {
  width: 3rem;
  height: 2px;
  background-color: var(--off-white);
  display: inline-block;
  position: relative;
}

.navigation-icon::before {
  content: "";
  width: 3rem;
  height: 2px;
  background-color: var(--off-white);
  position: absolute;
  left: 0;
  top: -1rem;
}

.navigation-icon::after {
  content: "";
  width: 3rem;
  height: 2px;
  background-color: var(--off-white);
  position: absolute;
  left: 0;
  top: 1rem;
}

.nav-list {
  margin-top: 70vh;
  margin-right: 50vw;
  width: 100%;
  z-index: 2500;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.nav-link {
  text-decoration: none;
  font-size: 4rem;
  padding-bottom: 2rem;
  line-height: 1.6;
  display: block;
  position: relative;
  color: var(--off-white);
}

.nav-link:active {
  color: var(--ultramarine-blue);
}

.nav-link:hover {
  color: var(--light-grey);
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ultramarine-blue);
  transform: scaleX(0);
  transition: all 0.5s;
  /* scale from left rather than default of left */
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ultramarine-blue);
  transform: scaleX(0);
  transition: all 0.5s;
  /* scale from right rather than default of center */
  transform-origin: right;
}
