/* Styles for small mobile devices */
/* No media query needed, these styles are applied by default */

/* Styles for large mobile devices */
@media only screen and (min-width: 481px) {
  /* Add styles for large mobile devices here */
}

/* Styles for small tablets */
@media only screen and (min-width: 768px) {
  /* Add styles for small tablets here */
  .heading-container {
    white-space: nowrap;
  }
}

/* Styles for large tablets */
@media only screen and (min-width: 992px) {
  /* Add styles for large tablets here */
}

/* Styles for laptops */
@media only screen and (min-width: 1200px) {
  /* Add styles for laptops here */
}

/* Styles for small desktops */
@media only screen and (min-width: 1440px) {
  .current-team__content {
    grid-column: content-start / content-end;
  }
  #team-info {
    margin: 3rem 0;
  }
  .heading-container {
    margin: 0;
  }
  .last-race__section {
    grid-column: content-start / content-end;
    margin: 3rem 0;
  }
  .table__content {
    grid-column: content-start / content-end;
    margin: 3rem 0;
  }
  .next-year__section {
    grid-column: content-start / content-end;
    margin: 3rem 0;
  }
}

/* Styles for big desktops */
@media only screen and (min-width: 1680px) {
  /* Add styles for big desktops here */
}
