.text-light {
  color: var(--off-white);
}

.heading-container {
  display: flex;
  position: relative;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
}

.heading-1 {
  font-size: 3rem;
  line-height: 1.1;
  margin: 3rem;
  text-transform: uppercase;
}

.heading-1--dark::before {
  position: absolute;
  background-position: center center;
  background-size: 5rem;
  content: "";
  display: block;
  height: 19px;
  width: 5rem;
  top: 3.75rem;
  left: -1rem;
  background-image: url("../img/arrow-dark.svg");
}

.heading-1--light::before {
  position: absolute;
  background-position: center center;
  background-size: 5rem;
  content: "";
  display: block;
  height: 19px;
  width: 5rem;
  top: 3.75rem;
  left: -1rem;
  background-image: url("../img/arrow-light.svg");
}

.after-heading__rule {
  height: 1px;
  width: 100%;
}

.after-heading__rule--light {
  background-color: var(--off-white);
}

.after-heading__rule--dark {
  background-color: var(--ultramarine-blue);
}

.heading-3 {
  font-size: 2.2rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--off-white);
  text-align: center;
  margin-bottom: 2.5rem;
}

p,
tr,
td {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

div,
button {
  font-size: 1.6rem;
  line-height: 1.6;
}

th,
tr {
  text-align: left;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
}
td {
  padding: 2rem;
}
