.heading-container {
  display: flex;
  position: relative;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
}

.heading-1 {
  font-size: 3rem;
  line-height: 1.1;
  margin: 3rem;
  text-transform: uppercase;
}

.heading-1::before {
  position: absolute;
  background-position: center center;
  background-size: 5rem;
  content: "";
  display: block;
  height: 19px;
  width: 5rem;
  top: 3.75rem;
  left: -1rem;
  background-image: url("../img/right-arrow.svg");
}

.after-heading__rule {
  height: 1px;
  width: 100%;
}

.after-heading__rule--light {
  background-color: var(--off-white);
}

.after-heading__rule--dark {
  background-color: var(--ultramarine-blue);
}

.text-light {
  color: var(--off-white);
}

p,
tr,
td,
div {
  font-size: 1.6rem;
  line-height: 1.6;
}

th,
tr {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
td {
  padding: 0.5rem 1rem;
}
